<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <%= render :partial => 'shared/common_header' %>
  </head>
  <body>
    <%= render :partial => "shared/header" %>
    <%= render :partial => "shared/flash_message" %>

    <div id="main">
      <%= yield %>
    </div>

    <%= render :partial => "shared/footer" %>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :skip_embedded, :cache => "skip_embedded" %>
    <%= javascript_include_tag(URI.join(SkipEmbedded::InitialSettings["skip_collaboration"]["skip_url"], "services/skip_reflect_customized.js").to_s) if SkipEmbedded::InitialSettings["skip_collaboration"]["skip_url"] %>
    <%= yield :javascript_includes %>
    <% javascript_tag do -%>
      jQuery(function(){
        <%= yield :javascript_initializer %>
      });
    <% end -%>
  </body>
</html>
