<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="shortcut icon" href="<%= controller.request.relative_url_root %>/favicon.ico" />
<title><%=h @title %></title>

<%= stylesheet_link_tag :skip_embedded %>
<%= stylesheet_link_tag :skip_embedded_sprites %>
<%= yield :stylesheet %>
